### Import the necessary libraries

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go

import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
from datetime import datetime as dt

### Start the App

In [2]:
app = dash.Dash(__name__)

### Import the Cases data

In [3]:
cases = pd.read_csv('covid_confirmed_usafacts.csv')
cases.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149

### Clean and Format the Cases dataframe

In [4]:
selected_date_columns = [col for col in cases.columns if '2020-01-22' <= col <= '2023-07-23']
cases = cases[selected_date_columns]
cases.head()

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,0,0,0,0,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,0,0,0,0,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,0,0,0,0,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149

### Import the Deaths data

In [5]:
deaths = pd.read_csv('covid_deaths_usafacts.csv')
deaths.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111

### Clean and Format the Deaths dataframe

In [6]:
selected_date_columns = [col for col in deaths.columns if '2020-01-22' <= col <= '2023-07-23']
deaths = deaths[selected_date_columns]
deaths.head()

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,0,0,0,0,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,0,0,0,0,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,0,0,0,0,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111

### App layout (The Dash components(graphs, drop-down, check-box))

In [7]:
app.layout = html.Div([

    html.H1("Simple Interactive Dashboard for COVID-19 Cases and Deaths", style={'text-align': 'center'}),

    dcc.DatePickerRange(
        id='date-picker-range',
        start_date='2020-01-22',
        end_date='2023-07-23',
        display_format='YYYY-MM-DD',
        min_date_allowed='2020-01-22',
        max_date_allowed='2023-07-23',
    ),
    
    dcc.Graph(id='graph'),

])

### Connect the Dash components with the Plotly graphs

In [8]:
@app.callback(
    Output('graph', 'figure'),
    [Input('date-picker-range', 'start_date'),
     Input('date-picker-range', 'end_date')]
)
def update_graph(start_date, end_date):
    selected_date_columns = [col for col in cases.columns if start_date <= col <= end_date]
    cases_df = cases[selected_date_columns]
    deaths_df = deaths[selected_date_columns]
    
    date_range = pd.date_range(start=start_date, end=end_date)

    figure = {
        'data': [
            {'x': list(range(len(date_range))), 'y': cases_df.sum(), 'type': 'line', 'name': 'Cases'},
            {'x': list(range(len(date_range))), 'y': deaths_df.sum(), 'type': 'line', 'name': 'Deaths', 'yaxis': 'y2'},
        ],
        'layout': {
            'title': f'COVID-19 Cases and Deaths from {start_date} to {end_date}',
            'xaxis': {'title': 'Days'},
            'yaxis': {'title': 'Number of Cases'},
            'yaxis2': {'title': 'Number of Deaths', 'overlaying': 'y', 'side': 'right'},
        }
    }

    return figure

### Run the App

In [9]:
if __name__ == '__main__':
    app.run_server(debug=True)